<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".CMH"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CeylonMarketHub"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.seller.my_projects.MyProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.project.project_view.ProjectViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.settings.user_profile.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.seller.my_orders.MyOrdersActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".ui.activity.seller.profile.SellerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.seller.my_products.MyProductsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.order_history.OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.shipping_address.ShippingAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.orders.OrderConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.wishlist.WishlistActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.auth.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.auth.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.product.product_view.ProductViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.product.search.ProductSearchViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.product.search.SearchProductsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CeylonMarketHub.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".data.receiver.NetworkStateReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

    <queries>
        <package android:name="com.whatsapp" />
    </queries>

</manifest>